{{ define "content" -}}
<article class="post">
  <!-- post-header -->
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>

    <!-- Changed: -->
    <div class="post-meta-left">
      <div>

        <!-- Changed: -->
        <!-- 时间 -->
        <span class="post-time"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>

        {{- if .Site.Params.moreMeta }}
        <!-- 字数 -->
        <span class="more-meta"> {{ T "wordCount" .WordCount }} </span>
        <!-- 阅读预计 -->
        <span class="more-meta"> {{ T "readingTime" .ReadingTime }} </span>
        {{- end }}

        <br>

        {{ with .Params.categories -}}
        <!-- 文章分类 -->
        <span class="post-category">
          {{ range . -}}
          <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
          {{ end -}}
        </span>
        {{- end }}
      </div>
    </div>
    
  </header>
  <br>
  <br>

  <!-- TOC -->
  {{- partial "post/toc.html" . -}}

  <!-- Outdated Info Warning -->
  {{- partial "post/outdated-info-warning.html" . -}}

  <!-- Content -->
  <div class="post-content">
    {{ .Content }}
  </div>

  <!-- Copyright -->
  {{- partial "post/copyright.html" . -}}

  <!-- Reward -->
  {{- partial "post/reward.html" . -}}

  <footer class="post-footer">
    {{ with .Params.tags -}}
    <div class="post-tags">
      {{ range . -}}
      <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
      {{ end -}}
    </div>
    {{- end -}}

    <!-- Post Pagination -->
    <nav class="post-nav">
      {{ with .NextInSection -}}
      <a class="prev" href="{{ .URL }}">
        <i class="iconfont icon-left"></i>
        <span class="prev-text nav-default">{{ .Title }}</span>
        <span class="prev-text nav-mobile">{{ T "prevPost" }}</span>
      </a>
      {{- end }}
      {{ with .PrevInSection -}}
      <a class="next" href="{{ .URL }}">
        <span class="next-text nav-default">{{ .Title }}</span>
        <span class="next-text nav-mobile">{{ T "nextPost" }}</span>
        <i class="iconfont icon-right"></i>
      </a>
      {{- end }}
    </nav>
  </footer>
</article>
{{- end }}