.post-header {
  margin-bottom: 0px;
  font-size: $post-title-font-size - 5;
  font-weight: $post-title-font-weight;
  font-family: $global-serif-font-family;

  .post-title {
    margin: 0;
    font-size: $post-title-font-size;
    font-weight: $post-title-font-weight;
    font-family: $global-serif-font-family;
  }

  .post-link {
    //Changed:这里把从中间出来滴下划线改成了从左边出来
    // @include underline-from-center;

    @include underline-from-left;
  }
}// Changed:这里改动超级大,直接把最后面的大括号放在这里了



// 新增小字格式:右对齐

.post-meta-right {

  float: right;
  height: 1.5;
  line-height: 1.5;
  overflow: hidden;
  vertical-align: bottom;
  /*防止内容超出容器或者产生自动换行*/

  font-size: 14px;
  color: $post-meta-font-color;


  .post-time {
    font-size: 15px;
  }

  .post-category {
    @include underline-from-left;
    display: inline;

    a {
      color: inherit;

      &::before {
        content: ' 🛒:';
      }

      &:hover {
        color: $theme-color;
      }
    }
  }

  .more-meta {
    &::before {
      content: '·';
    }
  }

}

// 新增小字格式:左对齐
.post-meta-left {

  float: left;
  height: 1.5;
  line-height: 1.5;
  overflow: hidden;
  /*防止内容超出容器或者产生自动换行*/

  font-size: 14px;
  color: $post-meta-font-color;


  .post-time {
    font-size: 15px;
  }

  .post-category {
    display: inline;

    a {
      color: inherit;

      &::before {
        content: ' 🛒:';
      }

      &:hover {
        color: $theme-color;
      }
    }
  }

  .more-meta {
    &::before {
      content: '·';
    }
  }

}