// ==============================
// Post
// ==============================

.posts {
  // margin-bottom: $post-list-margin-bottom;
  // border-bottom: $post-border;
  margin-bottom: 0;
  border-bottom: 0;
}

.post {
  // padding: $post-padding;
  padding: 0;

  & + .post {
    // border-top: $post-border;
    border-top: 0;
  }

  @import '_post/header';
  @import '_post/toc';
  @import '_post/content';
  @import '_post/copyright';
  @import '_post/reward';
  @import '_post/footer';
  @import '_post/outdated';
}
